/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e7e7e3;
    color: #333;
}

header {
    background: #d37810;
    padding: 1rem;
    color: rgb(233, 221, 221);
    text-align: center;
}

nav {
    background: #92bbe7;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

nav a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav a:hover {
    background: #0a74da;
}

.container {
    padding: 2rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    background: white;
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

footer {
    background: #06488f;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
